
/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTS */

body {
    --body-bg-color: #fffcf2;
    --body-color: #070029;
    --switch-bg-color: #d57676;
    background-color: var(--body-bg-color);
    color: var(--body-color);
    display: block;
    font-family: 'Source Serif Pro';
    font-size: 1.2rem;
    margin: 1rem auto;
    padding: 0 20px;
    max-width: 800px;
    
}


main {
    display: block;
}

nav {
    display: block;
}

div {
    display: block;
    
}

p {
    letter-spacing: 0.02rem;
    word-spacing: 0.08rem;
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

article {
    display: block;
}

a {
    color: var(--body-color);
    text-decoration: none;
}

a:hover, a:focus {
    opacity: 0.6;
}

hr {
    border-color: var(--body-color)
}

h3 {
    text-decoration: underline;
    margin-block-start: 1rem;   
    margin-block-end: 1rem;   
}

ul {
    padding-left: 2rem;
}

.emph {
    font-weight: bold;
    letter-spacing: 0.00rem;
}

.ital {
    font-style: italic;
    letter-spacing: 0.00rem;
}

.smallcaps {
    font-variant: small-caps;
}

.sidebar {
    font-size: 1.4rem;
}

.sidebar-links a {
    font-variant: small-caps;
    font-weight: bold;
}

.card-container {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    gap: 1.5rem;
    padding: 1rem;
}

.card {
    
    border: 1px solid var(--body-color);
    outline: 1px solid var(--body-color);
    outline-offset: 5px;
    outline-style: dashed;
    box-shadow: -10px 10px var(--body-color);
    
    aspect-ratio: 1 / 1;
    flex-basis: 200px;
    flex-grow: 1;
    padding: 0.5rem;

    display: grid;
    grid-template-rows: 1fr 20%;
}

.card-image {
    display: block;
    object-fit: cover;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
    max-height:120px;
    max-width:120px;
}

.card-caption {
    grid-row-start: 2;
    
    margin: 0;
    border: 1px solid var(--body-color);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    
    color: var(--body-color);
    font-variant: small-caps;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    word-spacing: -1px;

}

.dark {
    opacity: 0.2;
}

.symbol-table {
    display: flex;
    padding-top: 2rem;
    margin-bottom: 300px;
    justify-content: space-around;
    max-height: 0px;

}

.symbol-container {
    display: grid;
    text-align: center;
}

#initial {
    grid-template-rows: repeat(7, 1fr);
}

#final {
    grid-template-columns: repeat(8, 1fr);
}

#tones {
    grid-template-rows: repeat(5, 1fr);
}

.group-container {
    display: grid;
}

#initial .group-container {
    grid-template-columns: repeat(4, 1fr);
}

#final .group-container {
    grid-template-rows: repeat(6, 1fr);
}

.symbol {
    border-radius: 0%;
    outline: 1px solid var(--body-color);
    outline-offset: -3px;
    height: 5vw;
    width: 5vw;
    max-width: 40px;
    max-height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
}

.symbol:hover {
    outline-style: dashed;
}

input:checked + label {
    background-color: var(--switch-bg-color);
    outline: 3px solid var(--body-color);
}

input {
    display: none;    
}

#full-syllable {
    text-align: center;
    font-weight: bold;
}

#audio-button {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    padding: 8px;
}

#audio-button:hover {
    opacity: 0.5;
}

#table-container {
    height: 300px;
    overflow-y: scroll;
}


#table-container::-webkit-scrollbar {
    width: 5px;
}

#table-container::-webkit-scrollbar-track {
	border: 5px solid var(--body-bg-color);
}

#table-container::-webkit-scrollbar-thumb {
	background-color: var(--switch-bg-color);
	border-radius: 100%;
}

#table-container::-webkit-scrollbar-button {
    display: none;
}


#character-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
}

#character-table td:first-child {
    text-align: center;
    font-size: 3rem;
}

#character-table td {
    border-style: solid;
    border-width: 0px 0 1px 0;
}

.internal {
    text-decoration: underline;
}

.external {
    text-decoration: underline;
}

.float {
    max-width: 100%;
    height: auto;
    float:left;
    margin: 1rem;
}

.nocaption {
    display: block;
}

.top-title {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5rem;
}

.notice {
    border: 1px solid var(--body-color);
    background-color: rgba(235, 0, 63, 0.262);
    padding: 1rem;
    text-align: center;
}


#mastodon-icon:hover, #mastodon-icon:focus {
    opacity:1;
    color:rgb(84, 0, 168);
}

#youtube-icon:hover, #youtube-icon:focus {
    opacity:1;
    color:#c4302b;
}

#github-icon:hover, #github-icon:focus {
    opacity:1;
    color:#6f6666;
}

#linkedin-icon:hover, #linkedin-icon:focus {
    opacity:1;
    color:#0e76a8;
}

.news {
    font-style: italic;
    opacity: 0.9;
    line-height: 1.1rem;
    letter-spacing: 0.01px;
}

.language-links {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.language-link {
    text-decoration: underline;
    font-variant: small-caps;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    font-size: 1rem;
    text-align: center;
}
  
.grid-item:nth-child(-n+3) {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid var(--body-color);
}

#contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.post {
    background-color: var(--body-bg-color);
    padding: 0 1rem 1rem 1rem;
}

@media only screen and (max-width: 650px) {
    .sidebar, .sidebar-links {
      display: flex;
    }
    .sidebar {
        justify-content: center;
        padding: 1rem;
        border-bottom: 2px solid var(--body-color);
    }
    .sidebar-links {
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
        flex: 1 1 100%;
        margin: 0;
    }
    .post {
        line-height: 1.4;
    }

    .symbol-table {
        padding-top: 1rem;
        margin-bottom: 38vw;
    }

    input:checked + label {

        outline: 0.4vw solid var(--body-color);
    }

    .symbol {
        font-size: 2vw;
        outline-offset: -0.4vw;
        outline-width: 0.1vw;
    }

    .split span {
        display:block;
        text-align: right;
    }
    .split span::before {
        content:"— "
    }

    .card {
        display:block;
    }
    .card-caption {
        display:none;
    }

    
}
  
@media only screen and (min-width: 650px) {

    header, article {
        margin-left: 120px;
    }

    article {
        flex: 1 1 auto;
    }

    main {
        
        display: flex;
        flex-flow: column wrap;
    }

    .sidebar {
        margin-top: 20px;
        padding: 0px 30px 5px 10px;
        position: absolute;
        width: 100px;
    }

    .post {
        line-height: 1.6;
    }

    .top-title {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .split span { 
        display:block;
        float:right;
    }

    
}